<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Happy Clinic</title>
    <link rel="icon" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/microsoft/209/hospital_1f3e5.png">
    <link rel="stylesheet" th:href="@{/stylesri.css}">
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
    <h1> Welcome to Happy Clinic</h1>
    <h1>🏥</h1>
    <img th:src="@{images/austin_distel_unsplash.jpg}" style="height: 300px; width: 450px;" class="center"/>
<!--    <div th:fragment="content"><h1> </h1></div>-->
    <br>
    <p style="text-align: center;"><a th:href="@{/login}">Login</a> | <a th:href="@{/register}">Register</a></p>
    <div class="footer">
        <div class="center-me">
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p style="text-align:center;">Luis Rosales</p><br/>
            <p style="text-align:center;">
                Copyright &#169; 2020 Luis Rosales CS 321-1</p>
            <p style="text-align:center;"><a href="http://validator.w3.org/check?uri=referer"><img
                    src="http://www.w3.org/Icons/valid-xhtml10" style="width: 100px; height: 40px;" alt="Valid XHTML 1.0 Transitional"/></a>
            </p>
        </div>
    </div>
</body>
</html>