<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Happy Clinic</title>
    <link rel="icon" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/microsoft/209/hospital_1f3e5.png">
    <link rel="stylesheet" th:href="@{/stylesri.css}">
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
    <h1>Login to Happy Clinic</h1>
    <h1>🏥</h1>
    <img th:src="@{images/austin_distel_unsplash.jpg}" style="height: 300px; width: 450px;" class="center"/>
    <div th:if="${error}">
        Unable to login, Check your username and password
    </div>

    <p style="text-align: center;">New here? Click <a th:href="@{/register}">here</a> to register. </p>
    <br/><br/>

    <form class="center" method="post" th:action="@{/login}" id="loginForm">
        <label style="text-align: center;" for="username">Username: </label>
        <input style="text-align: center;" type="text" th:name="username" id="username"/><br/><br/>

        <label style="text-align: center;" for="password">Password: </label>
        <input style="text-align: center;" type="text" th:name="password" id="password"/><br/><br/>

        <input style="text-align: center;" type="submit" value="Login"/>

    </form>
</body>
</html>