<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Primary table view Orders</title>
    <link rel="stylesheet", th:href="@{stylesri.css}"/>
    <link rel="stylesheet", th:href="@{styles.css}"/>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <h1>🏥</h1>
    <img th:src="@{/images/austin_distel_unsplash.jpg}" style="height: 300px; width: 450px;" class="center"/>
    <div class="center" th:each="Order: ${orders}">

        <b th:text="'Id: ' + ${Order.id}"> Id </b>
        <b th:text="'name: ' + ${Order.name}"> name </b>
        <b th:text="'city: ' + ${Order.city}"> city </b>
        <b th:text="'state ' + ${Order.state}">state</b>
        <b th:text="'zip ' + ${Order.zip}">zip</b>
        <b th:text="'placedAt: ' + ${Order.placedAt}"> placedAt </b>

    </div>
</body>
</html>