<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Primary table view Orders</title>
    <link rel="icon" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/microsoft/209/hospital_1f3e5.png">
    <link rel="stylesheet", th:href="@{stylesri.css}"/>
    <link rel="stylesheet", th:href="@{styles.css}"/>
</head>
<body>
<br/><br/>
<h3 style="text-align: center" th:text="${'Hi, ' + username}">Hello, username</h3>
<p style="text-align: center"><a th:href="@{/registerfacility}">Add a Facility</a></p>
<h1>Orders Report</h1>
<h1>🏥</h1>
<img th:src="@{/images/austin_distel_unsplash.jpg}" style="height: 300px; width: 450px;" class="center"/>
<div class="order" th:each="Order: ${orders}">
    <b th:text="'Id:   ' + ${Order.id}"> Id </b>
    <b th:text="'|| name: ' + ${Order.name}"> name </b>
    <!--<b th:text="'|| city: ' + ${Order.city}"> city </b>
    <b th:text="'|| state: ' + ${Order.state}">state</b>-->
    <!--<b th:text="'|| zip: ' + ${Order.zip}">zip</b>-->
    <b th:text="'|| placedAt: ' + ${Order.placedAt.getMonth()} + ' '
        + ${Order.placedAt.getDayOfMonth()} + ' ' + ${Order.placedAt.getYear()}"> placedAt </b>
    <div th:each="facility: ${Order.facilities}">
        <b th:text="'-Facility name: ' + ${facility.name} + '.'"> Facility Name </b>
        <br/><b>Type of service(s)</b>
        <div th:each="service: ${facility.services}">
            <b th:text="'-- ' + ${service.name} + '.'">Service name</b>
        </div>
    </div>
</div>


<p style="text-align: center"><a th:href="@{/logout}">Logout</a></p>
<div class="footer">
    <div class="center-me">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p style="text-align:center;">Luis Rosales</p><br/>
        <p style="text-align:center;">
            Copyright &#169; 2020 Luis Rosales CS 321-1</p>
        <p style="text-align:center;"><a href="http://validator.w3.org/check?uri=referer"><img
                src="http://www.w3.org/Icons/valid-xhtml10" style="width: 100px; height: 40px;" alt="Valid XHTML 1.0 Transitional"/></a>
        </p>
    </div>
</div>
</body>
</html>