<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/base :: headContent"></head>

<body>
    <div th:replace="fragments/base :: navigation"></div>
    <div class="container-fluid mt-5">
        <div class="row justify-content-center">
            <h1 class="col-12 text-center mt-5">Facility's Details</h1>
            <h1>🏥</h1>
        </div>
        <div th:replace="fragments/base :: appImage"></div>
    </div>

    <form method="post" class="container" th:object="${facility}">
        <span class="validationError"
            th:if="${#fields.hasErrors('services')}"
            th:errors="*{services}">services Error</span>
        <div class="grid">
            <div class="ingredient-group" id="Facility_Type">
                <h3>Select type of facility</h3>
                <div class="row form-group justify-content-lg-start" th:each="registerfacility : ${facility_type}">
                    <input class="form-check-input" name="services" type="checkbox" th:value="${registerfacility.id}"/>
                    <span th:text="${registerfacility.name}">registerfacility</span><br/>
                </div>
            </div>

            <div class="ingredient-group" id="Medical_Services">
                <h3>Select medical services</h3>
                <div class="row form-group justify-content-lg-start" th:each="registerfacility : ${medical_services}">
                    <input class="form-check-input" name="services" type="checkbox" th:value="${registerfacility.id}"/>
                    <span th:text="${registerfacility.name}">registerfacility</span><br/>
                </div>
            </div>
        </div>

        <div class="row form-group justify-content-center">
            <label class="col-form-label col-2 text-right font-weight-bold">Facility's Name</label>
            <input  class="form-control col-5 col-md-2" type="text" th:field="*{name}"/>
            <span class="validationError"
                th:if="${#fields.hasErrors('name')}"
                th:errors="*{name}">Name Error</span>
            <br/><br/>
        </div>
        <div class="row form-group justify-content-center">
            <span class="col-6 col-md-3"></span>
            <input class="col-1 form-control btn-info" type="submit" value="Submit"/><br/>
        </div>
<!--            <button class="row form-group justify-content-center">Submit your request</button>-->

    </form>

    <div th:replace="fragments/base :: footer"></div>
    <div th:replace="fragments/base :: scripts"></div>
</body>
</html>